@import  url( 'https://fonts.googleapis.com/css2?family=chakra+petch:wght@400;700&display=swap');
:root{
    --cor-de-fundo: #1E1E1E;
    --verde: #6fff57;
    --branco: #ffffff;
    --botão-ativo: #34375E;
    --botão-inativo: rgba(58,55,94,0.5);
    --texto-fundo: rgba(58,55,94,0.3);


}
.body{
    background-color: var(--cor-de-fundo);
    color: var(--branco);
    font-family: 'chakra petch' ,sans-serif;
}


.conteudo-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.titulo-principal{
    text-align: left;
    width: 100%;
    font-size: 32px%;
    

    .titulo-principal span{
        color: var(--verde);
}

.botao{
    font-family: "crakra petch", sans-serif;
    background-color: var(--botão-inativo);
    color: var(--branco);
    display: flex;
    justify-content: center;
    padding: lem;
    font-size: 18px;
    align-items: center;
awidth: 100%;
border: bottom: 4px solid var(--botão-ativo);
border-left: 2px solid var(--botao-ativo);
border-rigth: 2px solid var(--botao-ativo);
border-top: none;



.botao:first-child{
    border: -radius:40px 40px 0 0;
}

.botoes{
    display: block;
}

.ativo{
    background-color: var(--botão-ativo);
    border: bottom: 4px solid var(--verde);
}



@media screen and(min-width: 768px) {
    .botoes{
        display: flex;
    }
   .botoes::first-child{
    border-radius: 40px 0 0 0;
}
.botao:last-child{
    border-radius: 0 40px 0 0;
}

}
